
<html>
<body>
  <h3> Multiple Question Interface </h3>
  
  <form>
  <fieldset id="group1">
  <h4>1. How many months do we have in a year?</h4>
  <input type="radio" id="male" name="gender" value="male">
  <label for="male">A.9</label><br>
  <input type="radio" id="female" name="gender" value="female">
  <label for="female">B.12</label><br>
  <input type="radio" id="other" name="gender" value="other">
  <label for="other">C.12.55</label> 
  </fieldset>

  <fieldset id="group2">
  <h4>2.Name the atmospheric layer closest to the ground?</h4>
  <input type="radio" id="u" name="bio" value="male1">
  <label for="male">A.Troposphere</label><br>
  <input type="radio" id="female" name="bio" value="female">
  <label for="female">B.Mesosphere</label><br>
  <input type="radio" id="other" name="bio" value="other">
  <label for="other">C.Thermosphere</label> 
   <input type="radio" id="other2" name="bio" value="other">
  <label for="other">D.Stratosphere</label> 
  </fieldset>


  <fieldset id="group2">
  <h4>3.The most abundant gas on the earth’s atmosphere is</h4>
  <input type="radio" id="male" name="gender" value="male">
  <label for="male">A.Oxygen</label><br>
  <input type="radio" id="female" name="gender" value="female">
  <label for="female">B.Carbon</label><br>
  <input type="radio" id="other" name="gender" value="other">
  <label for="other">C.Nitrogen</label> 
   <input type="radio" id="other2" name="gender" value="other">
  <label for="other">D.Hydrogen</label> 
  </fieldset>


  <fieldset id="group2">
  <h4>4.What atmospheric layer has most of the clouds?</h4>
  <input type="radio" id="male" name="gender" value="male">
  <label for="male">A.Mesosphere</label><br>
  <input type="radio" id="female" name="gender" value="female">
  <label for="female">B.Thermosphere</label><br>
  <input type="radio" id="other" name="gender" value="other">
  <label for="other">C.Exosphere</label> 
  <input type="radio" id="other2" name="gender" value="other">
  <label for="D.Troposphere">C.Exosphere</label> 
  </fieldset>


  
  <fieldset id="group2">
  <h4>5.An altitude of 100 kilometres (62 mi; 330,000 ft) above the Earth’s sea level marks the beginning of space where human travellers are considered astronauts. What is it called?</h4>
  <input type="radio" id="x" name="gender" value="male">
  <label for="male">A.Appleton–Barnett layer</label><br>
  <input type="radio" id="female" name="gender" value="female">
  <label for="female">B.Karman line</label><br>
  <input type="radio" id="other" name="gender" value="other">
  <label for="other">C.Heaviside layer</label> 
  <input type="radio" id="other2" name="gender" value="other">
  <label for="other">D.Van Allen belts</label> 
  </fieldset>


  <fieldset id="group2">
  <h4>5. The study of weather is called?</h4>
  <input type="radio" id="male" name="gender" value="male">
  <label for="male">A.meteorology</label><br>
  <input type="radio" id="female" name="gender" value="female">
  <label for="female">B.climatology</label><br>
  <input type="radio" id="other" name="gender" value="other">
  <label for="other">C.aeronomy</label> 
  <input type="radio" id="other" name="gender" value="other">
  <label for="other">D.aerology</label> 
  </fieldset>

  <fieldset id="group2">
  <h4>6. Which one of the following is NOT a primary layer of the atmosphere?</h4>
  <input type="radio" id="male" name="gender" value="male">
  <label for="male">A.Mesosphere</label><br>
  <input type="radio" id="female" name="gender" value="female">
  <label for="female">B.Troposphere</label><br>
  <input type="radio" id="other" name="gender" value="other">
  <label for="other">C.Exosphere</label> 
   <input type="radio" id="other2" name="gender" value="other">
  <label for="other">D.Stratosphere</label> 


  </form>

</body>
</html>
