
<html>
<body>
  <h3> Multiple Question Interface </h3>
  
  <form method="post" action="/handle_data">
  <fieldset  id="group1">
  <h4>Name the atmospheric layer closest to the ground</h4>
  <input type="radio" required id="male" name="1" value="Troposphere">
  <label for="male">Troposphere</label><br>
  <input type="radio" id="female" name="1" value="Mesosphere">
  <label for="female">Mesosphere</label><br>
  <input type="radio" id="other" name="1" value="Thermosphere">
  <label for="other">Thermosphere</label> 
  </fieldset>

  <fieldset id="group2">
  <h4>The most abundant gas on the earth’s atmosphere is</h4>
  <input type="radio" required id="male1" name="2" value="Oxygen">
  <label for="male">Oxygen</label><br>
  <input type="radio" id="female1" name="2" value="Carbon">
  <label for="female">Carbon</label><br>
  <input type="radio" id="other1" name="2" value="Nitrogen">
  <label for="other">Nitrogen</label> 
  </fieldset>


  <fieldset id="group3">
  <h4> What atmospheric layer has most of the clouds?</h4>
  <input type="radio" required id="male" name="3" value="Mesosphere">
  <label for="male">Mesosphere</label><br>
  <input type="radio" id="female" name="3" value="Troposphere">
  <label for="female">Troposphere</label><br>
  <input type="radio" id="other" name="3" value="Exosphere">
  <label for="other">Exosphere</label> 
  </fieldset>


  <fieldset id="group4">
  <h4>The study of weather is called?</h4>
  <input type="radio" required id="male" name="4" value="meteorology">
  <label for="male">meteorology</label><br>
  <input type="radio" id="female" name="4" value="climatology">
  <label for="female">climatology</label><br>
  <input type="radio" id="other" name="4" value="aerology">
  <label for="other">aerology</label> 
  </fieldset>


  
  <fieldset id="group5">
  <h4>Which one of the following is NOT a primary layer of the atmosphere?</h4>
  <input type="radio" required id="x" name="5" value="Mesosphere">
  <label for="male">Mesosphere</label><br>
  <input type="radio" id="female" name="5" value="Exosphere">
  <label for="female">Exosphere</label><br>
  <input type="radio" id="other" name="5" value="Stratosphere">
  <label for="other">Stratosphere</label> 
  </fieldset>


  <fieldset id="group6">
  <h4>Name the atmospheric layer that is completely cloudless and free of water vapor.</h4>
  <input type="radio" required id="male" name="6" value="Exosphere">
  <label for="male">Exosphere</label><br>
  <input type="radio" id="female" name="6" value="Thermosphere">
  <label for="female">Thermosphere</label><br>
  <input type="radio" id="other" name="6" value="Stratosphere">
  <label for="other">Stratosphere</label> 
  </fieldset>

  <fieldset id="group7">
  <h4>Who coined the word ‘ecology’?</h4>
  <input type="radio" required id="male" name="7" value="Ernst Haeckel">
  <label for="male">Ernst Haeckel</label><br>
  <input type="radio" id="female" name="7" value="Gregory Mendel">
  <label for="female">Gregory Mendel</label><br>
  <input type="radio" id="other" name="7" value="Charles Darwin">
  <label for="other">Charles Darwin</label> 
  </fieldset>


  <fieldset id="group8">
  <h4>What are saprophytes?</h4>
  <input type="radio" required id="male" name="8" value="Living beings that feed on the sap from tree bark">
  <label for="male">Living beings that feed on the sap from tree bark</label><br>
  <input type="radio" id="female" name="8" value="iving beings that feed on dead or decayed organic matter">
  <label for="female">Living beings that feed on dead or decayed organic matter</label><br>
  <input type="radio" id="other" name="8" value="Living beings that feed on other living beings.">
  <label for="other"> Living beings that feed on other living beings.</label> 
  </fieldset>

  <input  type="submit" value="submit">

  </form>

</body>
</html>
