
<html>
<body>
  <h3> Multiple Question Interface </h3>
  
  <form method="post" action="/handle_data">
  <fieldset  id="group1">
  <h4>How many days do we have in a week?</h4>
  <input type="radio" required id="male" name="year" value="male">
  <label for="male">Language</label><br>
  <input type="radio" id="female" name="year" value="female">
  <label for="female">MEME</label><br>
  <input type="radio" id="other" name="year" value="other">
  <label for="other">Other</label> 
  </fieldset>

  <fieldset id="group2">
  <h4>How many days are there in a year?</h4>
  <input type="radio" required id="male1" name="atm" value="male1">
  <label for="male">Language</label><br>
  <input type="radio" id="female1" name="atm" value="female1">
  <label for="female">MEME</label><br>
  <input type="radio" id="other1" name="atm" value="other1">
  <label for="other">Other</label> 
  </fieldset>


  <fieldset id="group3">
  <h4>How many colors are there in a rainbow?</h4>
  <input type="radio" required id="male" name="gas" value="male">
  <label for="male">Language</label><br>
  <input type="radio" id="female" name="gas" value="female">
  <label for="female">MEME</label><br>
  <input type="radio" id="other" name="gas" value="other">
  <label for="other">Other</label> 
  </fieldset>


  <fieldset id="group4">
  <h4>Which animal is known as the ‘Ship of the Desert?</h4>
  <input type="radio" required id="male" name="clouds" value="male">
  <label for="male">Language</label><br>
  <input type="radio" id="female" name="clouds" value="female">
  <label for="female">MEME</label><br>
  <input type="radio" id="other" name="clouds" value="other">
  <label for="other">Other</label> 
  </fieldset>


  
  <fieldset id="group5">
  <h4>How many letters are there in the English alphabet?</h4>
  <input type="radio" required id="x" name="alt" value="male">
  <label for="male">Language</label><br>
  <input type="radio" id="female" name="alt" value="female">
  <label for="female">MEME</label><br>
  <input type="radio" id="other" name="alt" value="other">
  <label for="other">Other</label> 
  </fieldset>


  <fieldset id="group6">
  <h4>How many consonants are there in the English alphabet?</h4>
  <input type="radio" required id="male" name="study" value="male">
  <label for="male">Language</label><br>
  <input type="radio" id="female" name="study" value="female">
  <label for="female">MEME</label><br>
  <input type="radio" id="other" name="study" value="other">
  <label for="other">Other</label> 
  </fieldset>

  <fieldset id="group7">
  <h4>How many sides are there in a triangle?</h4>
  <input type="radio" required id="male" name="layer" value="male">
  <label for="male">Language</label><br>
  <input type="radio" id="female" name="layer" value="female">
  <label for="female">MEME</label><br>
  <input type="radio" id="other" name="layer" value="other">
  <label for="other">Other</label> 
  </fieldset>


  <fieldset id="group8">
  <h4>We smell with our</h4>
  <input type="radio" required id="male" name="smell" value="male">
  <label for="male">Language</label><br>
  <input type="radio" id="female" name="smell" value="female">
  <label for="female">MEME</label><br>
  <input type="radio" id="other" name="smell" value="other">
  <label for="other">Other</label> 
  </fieldset>

  <input  type="submit" value="submit">



  </form>

</body>
</html>
